@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.9);
}
.light-mode body {
    color: black;
    background-color: white;
}
.dark-mode body {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.9);
}
